{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% load nvd3_tags %}
{% load static %}


<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='/site_media/static/css/style.css' rel="stylesheet" type="text/css" />
    {# Jquery CDN : Needed when using jquery_on_ready=True #}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>


<body>

  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top" style="background-color: #e56b74;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{% static "Qchain_logo_small.png" %}" width="65px" height="30px" class="d-inline-block align-top" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href=""><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard</a></li>
            <li><a href=""><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Marketplace</a></li>
            <li><a href=""><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> History</a></li>
            <li><a href=""><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a></li>
            <li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="row" style="background-color: #f5f5f5; padding-top: 70px;">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- <form>
              First name:<br>
              <input type="text" name="firstname" value="Mickey">
              <br>
              Last name:<br>
              <input type="text" name="lastname" value="Mouse">
              <br><br>
              <input type="submit" value="Submit">
            </form> -->
            <form method="get" class="get-form">
				{% csrf_token %}
              {% if ferrors %}
                {% for ferror in ferrors %}
                  <h4><font size="3" color="red">{{ ferror }}</font></h4>
                {% endfor %}
              {% endif %}
              {{ form.as_p }}
              <button type="submit" class="save btn btn-default">Filter</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            {% if my_ad_list %}
              {% for adreq in my_ad_list %}
                <h4>{{ adreq.name }} <a href={{adreq.website_url}}>
                  {{adreq.website_url}}</a>
                  <span class="label label-default">{{ adreq.adtype }}</span>
                  <span class="label label-info">{{ adreq.genre }}</span>
                  <small> {{adreq.asking_rate}}</small>
                  <span class="label label-success">{{ adreq.currency }}</span></h4>
              {% endfor %}
            {% else %}
              <p> No adspaces match your request </p>
            {% endif %}
          {% if msgmsg %}
            <h2> {{ msgmsg }} </h2>
          {% endif %}
          </div>
        </div>
      </div>
      </div>


</body>
